#credits {
    font: 12px sans-serif;
    padding-bottom: 1%;
}

.instructions {
    color: red;
}

.optional {
    color: darkgreen;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.dot {
    fill: black;
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none;
}
.pageButtonClass, .pageButtonClass:disabled {
    border: 1px solid #ddd;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.pageButtonClass:hover:not(.active) {
    background-color: #ddd;
}

.pageButtonClass.active {
    background-color: #4CAF50;
    color: white;
}

.pageButtonClass.disabled {
    cursor: not-allowed;
    color: #aaa;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    margin: 0.5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

.tablink:hover {
    background-color: #777;
}

.dataTableClass {
    width: 80%;
    border-collapse: collapse;
    border: 2px black solid;
}

.tableHeaderClass {
    border: 2px solid black;
    padding: 5px;
    background-color: lightgray;
    font-weight: bold;
    text-transform: uppercase;
}

svg {
 
        font: 10px sans-serif;
        padding: -20px;
    }


.dashboardGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: black;
}

fieldset {
    border-width: 0;
}

#legend {
    border: 1px solid black;
    padding: 10px;
}

/* the style for the close-button in the legend */
.close {
    display: inline-block;
    padding: 1px 5px;
    margin: 4px;
    border: 1px solid black;
    color: #000;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.hovered-cell {
    background-color:#e0e9f0;; /* Change to the desired background color */
}

.close:hover {
    background: #ddd;
    cursor: pointer;
}

/* the style for the circle in the legend */
.color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* the style for dots in the scatterplot */
.dot {
    cursor: pointer;
}

/* tooltip for the scatterplot */
div.tooltip {
    position: absolute;
    text-align: left;
    padding: .2rem;
    margin: 1rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

/* Wrapper for both plots */
.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Container for each plot */
.container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Radar chart specific styling */
#radar {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin: 20px;
}

/* Tab content styling */
.tabcontent {
    color: black;
    display: none;
    padding: 20px;
    height: calc(100vh - 40px); /* Adjust height to fit within the viewport */
    box-sizing: border-box;
}

/* General body styling */
body {
    height: 100%;
    margin: 0;
    font: 14px sans-serif;
}